@charset "UTF-8";

body {
    height: 94vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#perfil {
    flex-basis: 10px;
}

#sites {
    margin-top: 0px;
    margin-left: 30px;
    flex-basis: 500px;
}