@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
    background-color: #000000;
    color: white;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
}
.container {
    margin: auto;
    display: flex;
    gap: 10px;
    height: 800px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1300px;
    min-width: 320px;
}
.perfil {
    width: 400px;
    height: 650px;
    background-image: linear-gradient(to bottom right, #ffffff27 50%, transparent);
    text-align: center;
    border-radius: 40px;
    padding: 10px;
    border:  2px solid #fffefe91;
}
.perfil p {
    line-height: 10px;
}
.avatar {
    padding: 20px;
    border-radius: 30px;
    background-color: #00000077;
    border: 2px solid #ffffff60;
}
.avatar h1 {
    font-weight: 700;
}
.avatar img {
    border-radius: 30px;
}
.redes img {
    width: 10%;
}
.sites {
    width: 600px;
    height: 600px;
    background-image: linear-gradient(to bottom right, #ffffff27, transparent);
    border-radius: 30px;
    padding: 35px;
    border:  2px solid #fffefe91;

}
.sites h1 {
    background-color: #00000077;
    margin: -30px;
    padding: 10px;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    border: 1px solid #fffefe91;
}
.sites a {
    color: white;
    text-decoration: none;
}
.conteudo {
    margin-left: -20px;
    padding: 30px;
}
.conteudo p {
    padding-top: 8px;
}
.meu {
    background-color: rgb(104, 104, 104);
    padding: 10px;
    border-radius: 10px;
    transition-duration: .5s;
    flex-wrap: nowrap;
    display: inline-flex;
}
.meu:hover {
    background-color: #3b3b3b;
    padding: 10px;
    border-radius: 10px;
}
.externo {
    color: rgb(56, 126, 255);
}
