@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Manrope";
    font-weight: 400;
    justify-content: center;

    background: url("img/fundo.webp") fixed no-repeat;
    background-size: cover;
    color: white;
}

main {
    display: flex;
    max-width: 500px;
    flex-flow: column nowrap;
    max-width: 420px;
}

#perfil {
    flex: 0 0 400px;
    text-align: center;
    padding: 20px;

    background-color: white;
    color: black;
    border: 2px solid grey;
    box-shadow: 0px 10px 10px #00000091;
}

#foto{
    max-width: 300px;
    border: 2px solid rgba(0, 0, 0, 0.76);
}

#perfil h1 {
    font-weight: 700;
}

#perfil a {
    margin-top: 10px;
    text-decoration: none;
    color: black;
    margin-left: 15px;
}

#rede {
    margin-top: 10px;
    max-width: 28px;
    transition: .5s;
}

#rede:hover {
    max-width: 24px;
    transition: .5s;
}

#sites {
    flex: 0 0 480px;
    margin-top: 30px;
    padding: 10px 0px 0px 15px;

    background-color: #00000091;
    border: 2px solid grey;
    box-shadow: 0px 10px 10px #00000091;
}

#sites h1 {
    padding-top: 10px;
}

#sites h2 {
    padding-top: 10px;
}

#sites a {
    padding: 10px;
    text-decoration: none;
    font-weight: 800;
    line-height: 4;

    background-color: #2d0057;
    color: #ffffff;
    border: 2px solid #590a86;
    transition: .5s;
}

#sites ul {
    list-style: none;
}

#sites a:hover {
    background-color: #5501a3;
    transition: .5s;
}